:root{
    /* tamaños elementos */
    --box-width: 40rem;
}

/* THIRD SECTION */

.carousel-price{
    overflow-x: hidden ;
}

/* FOOTER */

.footer__social{
    display: flex;
}

.footer__red{
    margin: 0 1rem;
}

