/* 
1. Propiedades de maquetación de página (position, float, clear, display)
2. Propiedades del box model (width, height, margin, padding)
3. Propiedades visuales (color, background, border, box-shadow)
4. Propiedades tipográficas (font-size, font-family, text-align, text-transform)
5. Propiedades misceláneas (cursor, overflow)
*/

:root{
    /* colores */
    --bitcoin-orange: #F7931A;
    --soft-orange: #FFE9D5;
    --dark-orange: #a95e02;
    --secondary-blue: #1A9AF7;
    --dark-blue: #0071c3;
    --soft-blue: #E7F5FF;
    --warm-black: #201E1C;
    --black: #282623;
    --fort-gray: #757575;
    --gray: #BABABA;
    --off-white: #FAF8F7;
    --white: #fff;

    /* tamaños elementos */
    --box-width: 28.8rem;
}

/* propiedades generales */

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html{
    font: 62.5% 'DM Sans', sans-serif;
    scroll-behavior: smooth;
}
body{
    width: 100vw;
}
p, a, li{
    font-size: 1.4rem;
}

/* HEADER */
.header{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 0 1.6rem;
    background: linear-gradient(207.8deg, var(--warm-black) 16.69%, var(--bitcoin-orange) 100%); 
}
.header__site-logo{
    width: 15.1rem;
    height: 2.4rem;
    margin: 4.2rem 0 3.6rem 0;
}
.header__title{
    min-width: var(--box-width);
    color: var(--white);
    font-size: 2.4rem;
    font-weight: bold;
    line-height: 2.6rem;
    text-align: center;
}
.header__paragraph{
    min-width: var(--box-width);
    margin: 2.4rem 0 6.1rem 0;
    color: var(--soft-orange);
    text-align: center;
}
.big-button{
    position: absolute;
    bottom: -2.4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 22.9rem;
    height: 4.8rem;
    background: var(--off-white);
    border-radius: 0.4rem;
    box-shadow: 0rem 0.4rem 0.8rem rgba(89, 73, 30, 0.16);
    color: var(--warm-black);
    font-weight: bold;
    text-decoration: none;
}
.big-button__icon{
    display: inline-block;
    width: 1.2rem;
    height: 0.8rem;
    margin-left: 1.4rem;
    background-image: url(../icons/arrow-option.svg);
}

main{
    width: 100%;
    padding-bottom: 2rem;
    background-color: var(--off-white);
}

/* FIRST SECTION */
.exchange{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 1.5rem;    
}
.exchange__image{
    width: 19.5rem;
    height: 19.5rem;
    margin: 6rem 0 4rem 0;
    background: url(../images/bitcoin.svg) center/cover no-repeat;
}
.description{
    min-width: var(--box-width);
    margin: auto;
}
.description__title{
    margin-bottom: 2.4rem;
    font-size: 2.4rem;
    font-weight: bold;
    text-align: center;
}
.description__paragraph{
    margin-bottom: 4.8rem;
    text-align: center;
}
.carousel{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: var(--box-width);
    height: 200px;
    margin-bottom: 6.4rem;
}
.carousel__button{
    position: absolute;
    width: 0.74rem;
    height: 1.2rem;
    border: none;
}
.carousel__button img{
    width: 0.74rem;
    height: 1.2rem;
}
.carousel__button--preview{
    left: 1rem;
}
.carousel__button--next{
    right: 1rem;    
}
.carousel__element{
    position: absolute;
    width: 80%;
    margin: auto;
    opacity: 1;
    transition: all 0.5s;
}
.carousel__title{
    margin-bottom: 1.2rem;
    color: var(--dark-orange);
    font-size: 1.8rem;
    font-weight: bold;
}
.carousel__title--blue{
    color: var(--dark-blue);
}
.table{
    width: 100%;
    margin-bottom: 1.6rem;
    background: var(--white);
    border-radius: 0.5rem;
    color: var(--fort-gray);
    text-align: left;
    font-family: 'inter';
    font-size: 1.6rem;    
}
.table td{
    padding: 1rem 1.2rem; 
}
.table__column-rigth{
    display: flex;
    justify-content: space-between;
    color: var(--black);
}
.table__icon{
    width: 1.2rem;
    height: 1.3rem;
}
.carousel-update{
    width: 99%;
    padding: 0.8rem;
    background: var(--soft-orange);
    border-radius: 0.8rem;
    border: none;
    font-family: 'inter';
    font-size: 1.2rem;
    text-align: center;
}
.exchange__separator{
    position: absolute;
    bottom: -1.1rem;
    width: 3.745rem;
    height: 2.4rem;
    background: url(../icons/batata-section.svg) center/cover;
}
.carousel__element--hidden{
    opacity: 0;
}

/* SECOND SECTION */
.product-characters{
    padding: 6.4rem 0 4.6rem 0;
    background-color: var(--warm-black);
}
.description__title--dark{
    color: var(--white);
}
.description__paragraph--dark{
    color: var(--gray);
}
.qualities-card{
    width: var(--box-width);
    margin: 0 auto 1.6rem auto;
    padding: 1.6rem 2rem 2.2rem 1.6rem;
    background-color: var(--black);
}
.qualities-card__image{
    display: inline-block;
    width: 2rem;
    height: 2rem;
    margin-bottom: 1.2rem;

}
.qualities-card__image--clock{
    background: url(../icons/clock.svg) center/cover no-repeat;
}
.qualities-card__image--eye{
    background: url(../icons/eye.svg) center/cover no-repeat;
}
.qualities-card__image--dollar{
    background: url(../icons/dollar-sign.svg) center/cover no-repeat;
}
.qualities-card__image--check{
    background: url(../icons/check-circle.svg) center/cover no-repeat;
}
.qualities-card__title{
    margin-bottom: 1.2rem;
    color: var(--white);
    font-size: 1.8rem;
    font-weight: bold;
}
.qualities-card__paragraph{
    color: var(--gray);
}

/* THIRD SECTION */
.banner{
    width: 100%;
    height: 38.7rem;
    padding-top: 6.5rem;
    margin-bottom: 6.4rem;
    background: url(../images/bitcoinbabyx2.jpg) center/cover no-repeat;
}
.banner__title{
    color: var(--white);
    font-weight: bold;
    font-size: 2.4rem;
    text-align: center;
}
.carousel-price{
    display: flex;
    max-width: 61.8rem;
    height: 29rem;
    margin: 0 auto 0 auto;
    overflow-x: scroll;
    overscroll-behavior-x: contain;
    scroll-snap-type: x proximity;
}
.box-price{
    position: relative;
    scroll-snap-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 19rem;
    height: 24.7rem;
    margin: 1.6rem 0.8rem 0 0.8rem;
    padding: 3.1rem 0 2.4rem 0;
    background-color: var(--white);   
    box-shadow: 0px 4px 8px rgba(89, 73, 30, 0.16);
}
.recommended{
    position: absolute;
    top: -1.525rem;
    width: 10.1rem;
    height: 3.1rem;
    padding: 0.8rem;
    background-color: var(--bitcoin-orange);
    border-radius: 0.8rem;
    color: var(--black);
    font-size: 1.2rem;
    font-weight: bold;
    text-align: center;
}
.box-price__frequency{
    margin-bottom: 0.8rem;
}
.box-price__price{
    display: flex;
    align-items: center;
}
.box-price__number{
    font: bold 5.2rem 'inter';
}
.box-price__description{
    width: 15.8rem;
    margin-bottom: 1.6rem;
    font: 1.2rem 'inter';
    color: var(--fort-gray);
    text-align: center;
}
.button-choice{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 15.1rem;
    height: 4.8rem;
    background-color: var(--off-white);
    border: var(--bitcoin-orange) solid;
    border-radius: 0.4rem;
    color: var(--warm-black);
}
.button-choice__icon{
    width: 1.8rem;
    height: 1.8rem;
    display: inline-block;
    margin-left: 1.3rem;
    background: url(../icons/arrow-right.svg) center/cover no-repeat;
}
footer{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 4rem 6.5rem;
    background-color: var(--bitcoin-orange);
    color: var(--warm-black);
}
.footer__social{
    list-style: none;
}
.footer__red{
    margin-bottom: 0.8rem;
}
.footer__copyrigth{
    font-size: 0.8rem;
}
.footer__logo{
    display: block;
    width: 4rem;
    height: 2.4rem;
    margin: 0 auto 0.8rem auto;
    background-image: url(../icons/batata-footer.svg);
}